.main{
    width: 400px;
    margin:20px auto;
    list-style: none;
}
.html ,
.css,
.javascript{ 
    padding:10px;
    margin: 5px;
    background-color: #eee;
}

.html li{
    padding:10px;
    margin: 5px;
    background-color: white;
}

.css li{
    padding:10px;
    margin: 5px;
    background-color: white;
    list-style-type: upper-roman;
}
.javascript li{
    list-style-position: inside;
    padding:10px;
    margin: 5px;
    background-color: white;
}
